.form {
  &__body {
    @include flexBox(column, center, stretch);
    margin: 0 auto;
    row-gap: 12px;
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 7px $grayBoxShadow;
  }
  input,
  textarea,
  button {
    padding: 10px 18px;
    border-radius: 5px;
    border: 1px solid $grayBorder;
  }
  input,
  textarea {
    width: 100%;
    font-weight: 600;
  }
  input:focus,
  textarea:focus {
    outline: 1px solid $grayFocusInputs;
  }
  textarea {
    resize: vertical;
  }
  .error::placeholder {
    color: $redColor;
  }
  &__input-container {
    position: relative;
  }

  &__error-icon {
    position: absolute;
    top: 50%;
    right: 0;
    width: 25px;
    height: 25px;
    transform: translate(-50%, -50%);
  }
  .error-icon--disabled {
    display: none;
  }
  label {
    font-size: 0.8em;
    color: $redColor;
    font-style: italic;
    text-align: right;
  }
  .label--disabled {
    display: none;
  }

  &__submit {
    color: hsl(0, 0%, 100%);
    background-color: $greenColor;
    font-size: 1.1em;
    font-weight: 400;
    letter-spacing: 1px;
    box-shadow: inset 0 -2px $grayBoxShadow;
    cursor: pointer;
  }
  &__submit:hover {
    background-color: $greenHoverColor;
  }
  &__terms-services {
    align-self: center;
    text-align: center;
    font-size: 0.75em;
    color: $grayFocusInputs;
    width: 80%;
  }
  .terms-services-link {
    color: $redColor;
    text-decoration: none;
    font-weight: 700;
  }
}
@media (min-width: $small) {
  .form {
    width: 75%;
    margin: 20px auto 0;
    // &__body {
    //   width: 80%;
    // }
  }
}
@media (min-width: $medium) {
  .form {
    width: 40%;
    margin: 0;
  }
}
@media (min-width: $large) {
  .form {
    width: 30%;
    height: 100%;
    &__body {
      height: 100%;
    }
  }
}
