.info {
  margin-bottom: 24px;
  color: hsl(0, 100%, 100%);
  &__group {
    @include flexBox(row, flex-start, center);
    gap: 14px;
    font-size: 1.1em;
  }
  &__group:not(:nth-last-child(1)) {
    margin-bottom: 10px;
  }
  &__google-maps {
    .company-location {
      width: 100%;
      iframe {
        border: none;
        width: 100%;
        height: 100%;
      }
    }
  }
}
@media (min-width: $small) {
  .info {
    margin-bottom: 0;
    align-self: flex-end;
    &__google-maps {
      .company-location {
        width: 50%;
      }
    }
  }
}
@media (min-width: $medium) {
  .info {
    &__google-maps {
      .company-location {
        width: 30vh;
        height: 30vh;
      }
    }
  }
}
