// Colors

$redColor: hsl(0, 100%, 74%);
$greenColor: hsl(154, 59%, 51%);
$greenHoverColor: hsl(154, 50%, 62%);
$greenBoxShadow: hsla(154, 59%, 51%, 0.4);
$grayBoxShadow: hsla(0, 0%, 39%, 0.4);
$grayBorder: hsla(0, 0%, 39%, 0.15);
$grayFocusInputs: hsla(0, 0%, 39%, 0.6);

//Font size

$fontSize: 16px;

//Font family
$fontFamily: "Poppins", sans-serif;

//Font Poppins Weights: 400, 500, 600, 700

// Media, breakpoints
$xXSmall: 375px;
$small: 576px;
$medium: 768px;
$large: 992px;
$xLarge: 1200px;
$xXLarge: 1400px;
